# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/
notebooks/experimental/Adventitial fibroblasts.png
notebooks/experimental/Alveolar fibroblasts.png
notebooks/experimental/Alveolar macrophages.png
notebooks/experimental/Alveolar Mph CCL3+.png
notebooks/experimental/Alveolar Mph MT-positive.png
notebooks/experimental/Alveolar Mph proliferating.png
notebooks/experimental/AT0.png
notebooks/experimental/AT1.png
notebooks/experimental/AT2 proliferating.png
notebooks/experimental/AT2.png
notebooks/experimental/B cells.png
notebooks/experimental/Basal resting.png
notebooks/experimental/CD4 T cells.png
notebooks/experimental/CD8 T cells.png
notebooks/experimental/Classical monocytes.png
notebooks/experimental/Club (nasal).png
notebooks/experimental/Club (non-nasal).png
notebooks/experimental/DC1.png
notebooks/experimental/DC2.png
notebooks/experimental/Deuterosomal.png
notebooks/experimental/EC aerocyte capillary.png
notebooks/experimental/EC arterial.png
notebooks/experimental/EC general capillary.png
notebooks/experimental/EC venous pulmonary.png
notebooks/experimental/EC venous systemic.png
notebooks/experimental/Neuroendocrine.png
